<template name="demoModal">
    <div class="modal fade" id="demoModal" tabindex="-1" role="dialog"
         aria-labelledby="presentationHelpTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <h1 id="demoHelp" class="modal-title">{{_ "demo.help.title"}}
                    </h1>
                </div>
                <div class="modal-body">
                    <button class="btn btn-raised btn-success btn-block"
                            id="demoConfirm">{{_ "demo.help.button.confirm"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
