<template name="mainNavigationTopItemPublicItemRepetitorien">
    <li id="navbar-public-repetitorien"
        class="{{#if isRepetitoriumRoute}}active{{/if}}">
        <a href="{{pathFor route='repetitorium'}}">
            {{{getNavigationName "publicRepetitorien"}}}
        </a>
    </li>
</template>
